* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  color: white;
  gap: 10px;
  border-bottom: 1px solid black;
}

header ul .active {
  text-decoration: underline;
  color: gray;
}

header ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

header img {
  width: 300px;
}

header ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

header ul li a:hover {
  text-decoration: underline;
}

.separador_vertical {
  width: 1px;
  border-left: 1px solid black;
}

/* Contenedor principal */
.contenedor_principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  max-width: 1200px;
  gap: 10px;
  padding: 20px 10px;
}

.contenedor_donadores {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.contenedor_principal a {
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 0px;
  background-color: black;
  color: white;
  font-size: 12px;
  cursor: pointer;
  text-decoration: none;
}

.contenedor_principal a:hover {
  text-decoration: underline;
}

/* Donadores */

.contenedor_donador {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  border: 1px solid gray;
  border-radius: 15px;
  width: 340px;
  justify-content: space-between;
  position: relative;
}

.contenedor_donador article {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contenedor_donador article img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  background-color: black;
  width: 100%;
  padding: 10px;
}

footer a {
  display: flex;
  justify-content: center;
  gap: 10px;
  color: white;
  text-decoration: none;
}

footer .github {
  width: 25px;
  height: 25px;
  transition: all 0.3s;
}

/* Cerrar sesión */

.cerrar_sesion {
  position: fixed;
  right: 10px;
  bottom: 10px;
  gap: 10px;
  color: white;
  text-decoration: none;
}

.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: #ff0000;
}

.Btn img {
  width: 30px;
  height: 30px;
  transition-duration: 0.3s;
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.3s;
  padding-left: 10px;
}

/* hover effect on button width */
.Btn:hover {
  width: 120px;
  border-radius: 20px;
  transition-duration: 0.3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 20px;
}

/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}

/* button click effect*/
.Btn:active {
  transform: translate(2px, 2px);
}

.gender{
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
}